<launch>
  <!-- Specify world file here -->
  <arg name="world_file"  default="$(find project_1)/worlds/project_1.world"/>
  <arg name="gui" default="true"/>

  <include file="$(find project_1)/launch/environment.launch">
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find project_1)/launch/behaviors.launch"/>

</launch>
